body {
  background-image: url(Apprentice_Sky.png);
  background-repeat: no-repeat;
  height: 90vh;
background-size:cover;
  background-position: center;
}
.glow-text2 {
  color: #fff; 
  text-shadow: 0 0 10px #fff, 
               0 0 20px #fff,
               0 0 30px hsl(187, 56%, 65%),
               0 0 40px hsl(215, 10%, 38%);
               padding:0;
    margin:center;           
    font: 'Open Sans';
}
