body {
  background-image: url(Training_Sky.png);
  background-repeat: no-repeat;
  height: 90vh;
background-size:cover;
  background-position: center;
}

.button{
    cursor:pointer;
    background-color:transparent;
    border: none;
    height:min-content;
    width: min-content;

   
    
}

.glow-text {
  color: #fff; 
  text-shadow: 0 0 10px #fff, 
               0 0 20px #fff,
               0 0 30px hsl(51, 100%, 45%),
               0 0 40px #e68200;
               padding:0;

    font: 'Open Sans';
              
}